<div class="to-do-card">
    <el-card class="pirate-do-item">
        <div class="pirate-do-item-status">
            <i class="pirate-icon icon-circle" :style="{backgroundColor: statusColor,}"></i>
            <span>{{ statusText }}</span>
        </div>
        <div class="pirate-do-item-main">
            <el-collapse-item :title="title"
                              :name="id">
                <div class="pirate-do-item-content">
                    <span>{{ content }}</span>
                </div>
            </el-collapse-item>
        </div>
        <div class="pirate-do-item-footer">
            <div></div>
        </div>
    </el-card>
</div>
