<div class="pirate-do-list">
    <div class="pirate-do-header">
        <span>{{ title }}</span>
    </div>
    <div class="pirate-do-main">
        <el-collapse v-model="activeNames"
                     @change="handleChange"
                     accordion>
            <Vuedraggable>
                <transition-group>
                    <ToDoCardComponent v-for="(item, index) in cardList"
                                       :id="item.id"
                                       :status-color="item.statusColor"
                                       :status-text="item.statusText"
                                       :title="item.title"
                                       :content="item.content"
                                       :key="item.id">
                    </ToDoCardComponent>
                </transition-group>
            </Vuedraggable>
        </el-collapse>
    </div>
    <div class="pirate-do-footer">
        <button class="pirate-button">
            <span>新增卡片</span>
        </button>
    </div>
</div>
