<div class="pirate-do-list">
    <div class="pirate-do-header"
         @click="handlerFocusHeader">
        <span v-if="!isShowCardEdit">{{ title }}</span>
        <input v-else
               v-model="titleEditInput"
               ref="title_input"
               @blur="updateTitleToVuex"
               v-on:keyup.enter="updateTitleToVuex"
               :placeholder="title"></input>
    </div>
    <div class="pirate-do-main">
        <el-collapse v-model="activeNames"
                     accordion>
            <Vuedraggable :list="taskList"
                          :data-index="cardIndex"
                          v-bind="dragOptions"
                          group="card"
                          :move="handlerMove"
                          @end="handlerEndDrag">
                <transition-group class="task-drop-area">
                    <ToDoCardComponent v-for="item in taskList"
                                       :key="item.id"
                                       :work-index="workIndex"
                                       :card-index="cardIndex"
                                       :to-do-task="item">
                    </ToDoCardComponent>
                </transition-group>
            </Vuedraggable>

            <ToDoCardComponent v-if="isShowTaskEdit"
                               :work-index="workIndex"
                               :card-index="cardIndex"
                               :isCreat="true"
                               @handlerCardEdited="handlerCardEdited">
            </ToDoCardComponent>
        </el-collapse>
    </div>
    <div class="pirate-do-footer">
        <button class="pirate-button" @click="addCard">
            <span>新增任務</span>
        </button>
    </div>
</div>
