<div class="right-menu"
     :style="style"
     :hidden="!rightMenuData"
     v-click-outside="resetCtx">
    <template v-if="rightMenuData">
        <template v-for="(item, index) in rightMenuData">
            <div v-if="item.type !== 'divider'"
                 :key="index"
                 :ref="`right-menu-${index}`"
                 :id="`right-menu-${index}`">
                <div v-html="item.title" class="right-menu-option"></div>
            </div>
            <div v-else :key="index" class="right-menu-divider"><span></span></div>
        </template>
    </template>
</div>
