<div class="to-do">
    <div class="to-do-wrapper">
        <Vuedraggable v-bind="dragOptions"
                      :list="cardList"
                      group="task">
            <transition-group class="card-drop-area">
                <ToDoListComponent v-for="(item, index) in cardList"
                                   :key="item.name + index"
                                   :title="item.name"
                                   :task-list="item.task">
                </ToDoListComponent>
            </transition-group>
        </Vuedraggable>

        <div class="pirate-do-list">
            <div class="pirate-do-header">
                <span>新增卡片</span>
            </div>
        </div>
    </div>
</div>
