@import "Icon";
@import "Color";
@import "setting";

html{
  overflow: hidden;

  body{
    .to-do-list{
      width: 100%;
      height: 100vh;
    }
  }
}

.v-application{
  .v-application--wrap{
    flex-direction: unset;
  }
}

.v-navigation-drawer{
}